html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
html::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    height: 10px;
}

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: transparent;
}
body{
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #0C0B08 url("../images/all/line.svg") no-repeat;
}
body._lock{
    overflow: hidden;
}
h1{
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 61px;
    color: #FF2400;
}
h2{
    font-family: 'Cormorant Upright', serif;
    font-weight: 600;
    font-size: 49px;
    color: #FF2400;
}
h3{
    font-family: 'Cormorant Upright', serif;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    margin: 0;
}
a{
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
}
a:hover{
    text-decoration: none;
    /*color: #ffffff;*/
    color: rgba(255, 255, 255, 0.76);
    transition: all 0.3s ease;
}
ul{
    list-style: none;
}
ul>li{
    display: inline;
}
/*header*/
.header{
    background-image: url("../images/home/line.svg");
}
.section__container{
    padding: 35px 0;
}
.header__block{
    position: fixed;
}
.header__main{
    margin-top: 70px;
}
.logo_title{
    font-family: 'Cormorant Upright', serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 34px;
    color: #ffffff;
    vertical-align: middle;
}

.logo_title:hover{
    color:#ffffff;
}

.menu{
    height: 28px;
}
.menu__link{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

ul>li{
    padding-right: 10px;
}

li:last-child{
    padding-right: 0;
}

.order{
    text-align: right;
}

.phone{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.button__wrapper {
    display: block;
    width: 212px;
    height: 42px;
    background-color: #FF2400;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button__text{
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 42px;
    font-size: 17px;
    text-align: center;
    color: #ffffff;
}
.button__wrapper:hover{
    background-color: #bb1c04;
    transition: all 0.3s ease;
}

.order__line{
    margin: 0 2%;
    display: inline-block;
    text-align: center;
}
.order__phone{
    display: inline-block;
}
.order__btn{
    display: inline-block;

}
.button__head{
    border-radius: 24px;
    width: 102px;
}
.hashtag__text{
    margin: 0;
    padding-bottom: 21px;
    writing-mode: vertical-rl;
    transform-origin: center;
    transform: rotate(-180deg);
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.hashtag{
    width: 30px;
}
.img{
    max-width: 100%;
}
.main__container{
    padding: 0 11% 0 9%;
    justify-content: space-between;
}
.scroll__block{
    text-align: center;
}
.scroll__text{
    font-family: 'Cormorant Upright', serif;
    font-weight: 400;
    font-size: 15px;
    color: #FF2400;
    margin: 0;
}
.scroll__text:hover{
    color: #FF2400;
}
.scroll__svg{
    padding-bottom: 1%;
}

/*about*/

.about{
    background: url("../images/all/line.svg") right no-repeat, url("../images/all/space.png");
}
.about__container{
    background: url("../images/about/bowl_about.png") no-repeat center top;
    padding: 0 1%;
    position: relative;
}
.about__head{
    padding-bottom: 28%;
    text-align: center;
    line-height: 5px;
}
.about__title{
    margin: 0;
}
.about__text{
    text-align: center;
    color: rgba(255, 255, 255, 0.21);
    font-family: 'Cormorant Upright', serif;
    font-weight: 400;
    font-size: 130px;
    line-height: 120px;
}
.about__content{
    background-color: #0C0C0C;
    border: 1px #BC9060 solid;
    /*height: 400px;*/
    padding: 48px 10%;
}
.content__block{
    text-align: center;
    background-color: #ffffff;
    margin-left: 11px;
}
.content__title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #2C2C2C;
}
.content__title>span{
    color: #BC9060;
}
.content__text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2C2C2C;
}
.about__pizza{
    position: absolute;
    z-index: 2;
    top: 80%;
    left: 83%;
}
/*menu*/
.menu__head{
    text-align: center;
    width: 100%;
}

.menu__blocks{
    overflow-x: auto;
    width: 100%;
    flex-wrap: nowrap;
}
.menu__items{
    width: 100%;
    display: flex;
}
.menu__blocks::-webkit-scrollbar {
    width: 1px;
    background-color: transparent;
    height: 5px;
}
.menu__blocks::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.menu__blocks::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: transparent;
}
.menu__item{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
}
.menu__item_block.item_none{
    display: none;
    transition: all 0.3s ease;
}
.menu__item_block.item_active{
    display: flex;
    transition: all 0.3s ease;
}
.button__wrapper.btn_active{
    background: #2C2C2C;
}
.button__wrapper.btn_active>.button__text{
    color: #ffffff;
}
.menu__item:last-child{
    margin-right: 0;
}
.menu__item_wrapper{
    width: 160px;
}
.menu__item_block{
    padding: 0 11%;
}
.menu__item_text{
    font-size: 14px;
    color: #ffffff;
    transition: all 0.3s ease;
}
.menu__item_content{
    padding: 50px 0;
}
.menu__item_text:hover{
    text-decoration: none;
    /*color: #ffffff;*/
    color: rgba(255, 255, 255, 0.76);
    transition: all 0.3s ease;
}
.item_text{
    font-size: 20px;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    margin: 0;
}
.item_subtext{
    font-size: 14px;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

/*contacts*/
.contacts{
    background: url("../images/all/line.svg") no-repeat, url("../images/all/space.png");

}
.contacts__container{
    padding: 3% 9%;
}
.contacts__text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 30px;

}
.contacts__text_phone{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 80%;
    display: block;
}
.contacts__title{
    margin-bottom: 20px;
}
/*delivery*/
.delivery__title{
    color: #ffffff;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 40px;
}
.delivery__photo{
    height: 100%;
}
.delivery__container{
    /*height: 900px;*/
    /*padding-left: 3%;*/
}
/*gallery*/
.gallery{
    background: url("../images/all/line.svg")  no-repeat, url("../images/all/space.png");
}
.gallery__container{
    padding: 3% 0 3% 12%;
}
.gallery__title{
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 40px;
}
.slider{
    max-width: 100%;
}
.slick-track{
    display: flex;
    height: 100%;
}
.slick-list{
    overflow: hidden;
    height: 100%;
}
.gallery__slider{
    min-width: 0;
}
.slick-dots{
    text-align: center;
}
.slider-item{
    width: 100%;
    margin: 0 20px;
    align-self: center;
}
.slick-dots li{
    list-style: none;
    margin: 0 10px;
}

.slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
}

/*footer*/
.footer{
    background: url("../images/all/line.svg") right no-repeat, url("../images/all/space.png");
}
.footer__content{
    padding: 11% 9%;
}
.footer__contacts{
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 28px;
    color: #FF2400;
    margin-bottom: 25px;
}
.footer__contacts_text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #AAAAAA;
}
.footer__title{
    font-family: 'Cormorant Upright', serif;
    font-weight: 700;
    font-size: 46px;
    color: #FF2400;
    line-height: 26px;
    margin-bottom: 25px;
}
.footer__title_text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}

/*@media*/

@media (max-width: 1200px) {
    .menu{
        text-align: center;
    }
    .logo_title{
        font-size: 23px;
    }
    .main__container{
        padding: 0 13% 0 9%;
    }
    h1{
        font-size: 49px;
    }
    h2{
        font-size: 40px;
    }
    .button__wrapper_main{
        margin: 0 auto;
    }
    .contacts__text{
        font-size: 19px;
    }
    .contacts__text_phone{
        font-size: 16px;
    }
    .footer__title{
        font-size: 38px;
    }
    .footer__contacts{
        font-size: 23px;
    }
    .footer__contacts_text{
        font-size: 14px;
    }
    .scroll__text{
        font-size: 14px;
    }
    .button__text{
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .logo_img{
        width: 50px;
        height: 50px;
    }
    .menu__item_block{
        padding: 0;
    }
    .menu{
        height: 20px;
    }
    .button__text {
        font-size: 15px;
    }
    .menu__icon{
        text-align: center;
        z-index: 6;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after{
        left: 100%;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }
    .menu__icon::before,
    .menu__icon::after{
        content: "";
    }
    .menu__icon::before{
        top: 0;
        transition: all 0.3s ease 0s ;

    }
    .menu__icon::after{
        bottom: 0;
        transition: all 0.3s ease 0s ;

    }
    .menu__icon span{
        top: 50%;
        transform: scale(1) translate(0px,-50%);
        transition: all 0.3s ease 0s ;

    }
    .menu__icon._active{
        padding-right: 40px;
        transition: all 0.3s ease 0s ;
    }
    .menu__icon._active span{
        transform: scale(0) translate(0px,-50%);
        transition: all 0.3s ease 0s ;
    }
    .menu__icon._active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
        transition: all 0.3s ease 0s ;
        background-color: #fff;

    }
    .menu__icon._active::after{
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
        transition: all 0.3s ease 0s ;
        background-color: #fff;

    }
    .menu__body{
        position: fixed;
        z-index: 5;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }
    .menu__body._active{
        /*height: 42px;*/
        left: 0;
        text-align: center;
    }
    .menu__list > li{
        flex-wrap: wrap;
        margin: 0 0 30px 0;
    }
    .menu__list > li:last-child{
        margin-bottom: 0;
    }
    .menu__link{
        font-size: 24px;
    }

    .menu__list>li{
        display: block;
        z-index: 12;
    }
    .phone{
        font-size: 15px;
    }
    .main__container{
        padding: 0 2% 0 9%;
    }
    .hashtag__text{
        font-size: 12px;
    }
    h1{
        font-size: 41px;
    }
    .about__text{
        font-size: 120px;
    }
    .contacts__text{
        font-size: 14px;
    }
    .content__title{
        font-size: 15px;
    }
    .about__content{
        padding: 48px 4%;
    }
    .about__pizza{
        top: 73%;
        right: -15%;
        left: 76%;
    }
    h2{
        font-size: 32px;
    }
    .gallery__title{
        font-size: 32px;
    }
    h3{
        font-size: 16px;
    }
    .footer__title{
        font-size: 27px;
    }
    .footer__contacts_text{
        font-size: 12px;
    }
    .footer__title_text{
        font-size: 14px;
    }
    .logo_title {
        font-size: 28px;
    }
    .content__text{
        font-size: 14px;
    }
}

@media (max-width: 770px) and (max-width: 769px) {
    .item_text, .item_subtext{
        font-size: 13px;
    }
    .content__block{
        margin: 0 0 20px 0;
    }
    .about__pizza {
        top: 86%;
    }
    .about__text{
        font-size: 116px;
        line-height: 120px;
    }
    .content__text{
        font-size: 16px;
    }
    .content__title{
        font-size: 18px;
    }
    h2{
        font-size: 40px;
    }
    .button__text {
        font-size: 11px;
    }
    .contacts__text {
        font-size: 18px;
    }
    .button__wrapper{
        width: 190px;
    }
    .contacts__container{
        padding: 3% 0;
    }
    .gallery__container {
        padding: 3% 0 3% 10%;
    }
    .footer__content {
        padding: 11% 0;
    }
    .footer__title {
        font-size: 24px;
    }
    .footer__contacts {
        font-size: 15px;
    }
    .footer__contacts_text {
        font-size: 10px;
    }
    .footer__title_text {
        font-size: 12px;
    }
    .button__wrapper{
        width: 165px;
    }
    .button__head{
        width: 125px;
    }
    .main__container {
        padding: 0 3% 0 2%;
    }
    .main__title{
        position: absolute;
        z-index: 2;
        width: 94%;
        top: 30%;
    }
    .title__wrapper{
        text-align: center;
    }
    h1{
        color: #ffffff;
        font-size: 38px;
    }
    .logo_title{
        font-size: 23px;
    }
    .hashtag__text{
        padding-bottom: 39px;
    }
    .menu__icon._active {
        padding-right: 0;
    }
}

@media (max-width: 576px) {
    .menu__icon_wrapper{
        text-align: -webkit-center;
    }
    .menu__icon{
        margin: auto 30%;
        width: 35px;
        height: 20px;
    }
    .gallery__container {
        padding: 3% 0 3% 0;
    }
    .logo_img {
        width: 45px;
        height: 45px;
    }
    .order{
        height: 30px;
    }
    .logo_title {
        font-size: 30px;
    }
    h1{
        font-size: 43px;
    }
    .button__text {
        font-size: 13px;
    }
    h2 {
        font-size: 37px;
    }
    .about__text {
        font-size: 108px;
        line-height: 111px;
    }
    .button__head {
        width: 147px;
    }
    .hashtag__text{
        padding-bottom: 35px;
    }
    .button__wrapper{
        margin: 0 auto;
    }
    .contacts__text {
        font-size: 16px;
    }
    .contacts__text_phone{
        font-size: 14px;
    }
    .contacts__container {
        padding: 14% 0;
    }
    .scroll__text{
        font-size: 12px;
    }
    .gallery__wrapper{
        text-align: center;
    }
    .footer__title {
        margin-bottom: 5px;
    }
    .footer__contacts{
        margin-bottom: 5px;
    }
    .footer__title {
        font-size: 30px;
    }
}

@media (max-width: 528px) {
    .header__main{
        margin-top: 44px;
    }
    .logo_img {
        width: 40px;
        height: 40px;
    }
    .logo_title{
        font-size: 27px;
    }
    .menu__icon{
        margin: 0;
    }
    .main__title{
        width: 91%;
        top: 24%;
    }
    .hashtag__text{
        padding-bottom: 28px;
    }
    .menu {
        height: 24px;
    }
    .main__img>img{
        height: 100%;
    }
    h1{
        font-size: 33px;
    }
    .button__text {
         font-size: 12px;
    }
    .button__wrapper{
        width: 136px;
    }
    .about__text {
        font-size: 63px;
        line-height: 119px;
    }
    .item_text, .item_subtext {
        font-size: 11px;
    }
    h2{
        font-size: 29px;
    }
    h3{
        font-size: 14px;
    }
    .contacts__text_phone{
        font-size: 11px;
    }
    .contacts__text{
        font-size: 14px;
    }
    .gallery__title{
        font-size: 26px;
    }
}

@media (max-width: 445px) {
    .item_text, .item_subtext {
        font-size: 10px;
    }
}

@media (max-width: 375px) {
    .logo_title{
        font-size: 21px;
    }
    .item_text, .item_subtext {
        font-size: 9px;
    }
    
}
