@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------------------------*/
.header {
  background: url("../img/adaptive/image_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

img {
  max-width: 100%;
}

.menu {
  display: flex;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  justify-content: center;
  align-items: center;
  padding-top: 0.5%;
}
.menu__left {
  padding-right: 7%;
}
.menu__right {
  padding-left: 7%;
}
.menu span {
  padding: 0 50px;
}

.new {
  background-color: #f7f7f7;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  max-width: 100%;
}

.head {
  color: #353738;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  padding-bottom: 30px;
}

.text {
  color: #848789;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
}

.new__item {
  padding-bottom: 30px;
}

.block1 all {
  max-width: 100%;
  height: 12%;
}

.block1__row {
  display: flex;
  flex-direction: row;
}

.item {
  background: url("../img/adaptive/Layer_10.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 0 1 66.667%;
}
.item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  position: relative;
  top: 40%;
}

.content {
  flex: 0 1 33.333%;
}

.content__row {
  display: flex;
  flex-direction: column;
}
.content__row .item1 {
  text-align: center;
  padding-top: 15%;
  padding-bottom: 5%;
}
.content__row .head1 {
  color: #353738;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  padding-bottom: 2%;
}
.content__row .text1 {
  color: #848789;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: justifyLeft;
  padding: 0 10%;
  padding-bottom: 10%;
}
.content__row .line1 {
  background-color: #ebebeb;
  height: 2px;
  width: 14%;
  margin-left: 45%;
  margin-bottom: 5.7%;
}
.content__row .image1 img {
  width: 100%;
  height: auto;
}

.item2 {
  background: url("../img/adaptive/Layer_13.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 0 1 66.667%;
}
.item2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  position: relative;
  top: 40%;
}

.item3 {
  background: url("../img/adaptive/Layer_14.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 0 1 33.333%;
}
.item3 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  top: 40%;
}

.item4 {
  background: url("../img/adaptive/Layer_16.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 0 1 33.333%;
}

.aod {
  background-color: #f7f7f7;
}

.row1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.head_a {
  color: #353738;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 0px 100px 30px 100px;
}
.head_a span {
  color: #848789;
  font-family: "Lato Light";
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1.8px;
}

.text_a {
  color: #848789;
  font-family: Lato;
  font-size: 24px;
  font-style: italic;
  line-height: 34px;
  text-align: center;
  padding: 0px 100px 10px 100px;
}

.aod__item {
  padding: 100px 100px 30px 100px;
}

.aod__circle {
  padding: 100px 100px 30px 100px;
}

.image all {
  max-width: 100%;
  height: 12%;
}

.image {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.image-1__row {
  flex: 0 1 33.33%;
  display: flex;
  flex-direction: column;
}
.image-1__row .image-1__head {
  flex: 0 1 50%;
  display: flex;
  flex-direction: row;
}
.image-1__row .image-1__head img {
  flex: 0 1 50%;
  width: 50%;
}
.image-1__row .image-1__foot {
  flex: 0 1 50%;
}
.image-1__row .image-1__foot img {
  width: 100%;
}

.image-2__row {
  flex: 0 1 33.33%;
  display: flex;
  flex-direction: row;
}
.image-2__row img {
  flex: 0 1 50%;
  width: 50%;
}

.image-3__row {
  flex: 0 1 33.33%;
  display: flex;
  flex-direction: column;
}
.image-3__row .image-3__head {
  flex: 0 1 50%;
  background: url("../img/adaptive/Bg.png"), url("../img/adaptive/Layer_23.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-3__row .image-3__head img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
}
.image-3__row .image-3__head figure {
  position: relative;
  top: 40%;
}
.image-3__row .image-3__head figcaption {
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  padding-top: 2%;
}

.image-3__foot {
  flex: 0 1 50%;
  display: flex;
  font-display: row;
}
.image-3__foot img {
  flex: 0 1 50%;
  width: 50%;
}

.rowd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.dis {
  background-color: #282f35;
}

.dis__button {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.dis__button button {
  width: 50%;
  background-color: #282f35;
  color: #ffffff;
  padding: 20px 60px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}

.head_s {
  color: #848789;
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  line-height: 34px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.email input {
  border: 1px solid #d3d7d9;
  width: 75%;
  height: 70px;
  padding: 2% 35% 2% 2%;
  color: #929292;
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  line-height: 24px;
  text-align: left;
}
.email button {
  background-color: #64c29e;
  color: #ffffff;
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  padding: 5% 7%;
}

.footer {
  height: 250px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}
.footer .footer1__text {
  color: #848789;
  font-family: Lato;
  font-size: 14px;
  font-style: italic;
  letter-spacing: normal;
  line-height: 17.87px;
  text-align: left;
}
.footer .footer1__text span {
  font-family: "Lato - Bold";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.yebo__text {
  display: inline-block;
  color: #848789;
  font-family: Lato;
  font-size: 14px;
  font-style: italic;
  letter-spacing: normal;
  line-height: 17.87px;
  text-align: right;
  padding-top: 10px;
  padding-right: 2px;
}