.header {
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  margin: 80px 0px;
}
.header span {
  display: block;
}

span {
  display: block;
}

.form-header {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}

.form {
  border: 5px solid #2727d9;
  padding: 35px 20px;
}
.form button {
  margin: 10px 0;
}
.form input {
  margin-bottom: 10px;
}

.p-future {
  font-size: 16px;
  font-weight: 700;
}

.button {
  margin-top: 80px;
}

.future-btn {
  margin: 0px auto;
}