// Файл обнулющих стилей
@import "nullstyle.scss";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@font-face {
    font-family: 'MyriadPro';
    src: url('fonts/MyriadPro-Bold.eot');
    src: local('☺'), url('fonts/MyriadPro-Bold.woff') format('woff'), url('fonts/MyriadPro-Bold.ttf') format('truetype'), url('fonts/MyriadPro-Bold.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

body{
    min-width: 1440px;
}
// блок about
.about {
    &__body {
        max-width: 623px;
        margin: 0px auto;
    }
    &__header {
        margin: 0px 0px 65px 0px;
    }
    &__title {
        margin: 0px 0px 30px 0px;
    }
    &__text {

    max-width: 688px;
    margin: 0px auto;
    color: #868585;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 25.89px;
    text-align: center;
    }
    &__row {
        display: flex;
        font-size: 14px;
        margin: 0px -15px;
    }
    &__column {
        padding: 0px 15px;
        flex: 0 0 33.333%;
    }

}
.title{
    font-family: Lato;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8.95px;
    position: relative;
    text-align: center;
    padding: 0px 0px 30px 0px ;
    &::after{
        content: '';
        position: absolute;
        width: 50px;
        height: 1px;
        bottom: 0;
        left: 50%;
        background-color: #000;
        margin: 0px 0px 0px -25px;
    }
}
.item-about {

    &__icon {
        border-radius: 50%;
        border: 2px solid #f1f1f1;
        width: 92px;
        height: 92px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px auto 40px auto;

    }
    &__title {

        color: #000000;
        font-family: Lato;
        font-size: 22px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3.52px;
        margin: 0px 0px 35px 0px;
    }
    &__text {
        color: #868585;
        font-family: Lato;
        font-size: 14px;
        font-weight: 300;
        line-height: 26px;
        text-align: center;

    }
}
// блок about

// блок cap
.cap {
    &__body {
        padding: 100px ;
        background:  url("../img/cap/BG-Header.png") 0 0 no-repeat fixed;
        width: 1457px;
        height: 1080px;
    }
    &__header {
    }
    &__title {
        width: 195px;
        height: 123px;
        margin: 0px auto;
    }
    &__text {
        max-width: 900px ;
        margin: 0px auto;
        color: #ffffff;
        font-family: "Lato";
        font-size: 34px;
        font-weight: 900;
        line-height: 50px;
        text-align: center;
        letter-spacing: 5.43px;
        text-transform: uppercase;
        padding: 100px 0px;
        position: relative;
        span{
            max-width: 454px ;
            margin: 0px auto;
            font-family: Lato;
            font-weight: 400;
            font-size: 26px;
            letter-spacing: 4.15px;
            text-transform: lowercase;
            }
    }
    &__botton{


    }
    &___text{
            color: #ffffff;
            font-family: Lato;
            font-weight: 400px;
            font-size: 16px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.67px;
            position: relative;
            width: 182px;
            height: 47px;
            border: 1px solid #fff;
            padding: 10px 40px;
            margin: 220px auto ;

            }
}

.text{
    &::after{
        content: '';
        position: absolute;
        width: 100px;
        height: 1px;
        bottom: 0;
        left: 50%;
        background-color: #fff;
        margin: 0px 0px 0px -45px;
    }
}

.down{
    &::after{
        content: url("../img/cap/cap__down.png");
        position: absolute;
        width: 17px;
        height: 10px;
        top: 100%;
        left: 45%;
        margin: 75px auto;
    }
}
// блок cap

// блок меню

.menu{
    &__body{
        max-width: 422px;
        height: 100px;
        margin: 30px auto;

    }
    &__column{
        width: 422px;
        height: 12px;
        color: #3c3c3c;
        font-family: Lato;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: normal;
        text-align: left;
        text-transform: uppercase;
        word-spacing: 30px;
        padding: 0px 20px ;


        span_1{
            color: #ada074;
            font-family: "Lato";
            font-weight: 700;
            font-size: 15px;
            font-weight: 400;
            text-align: left;
            text-transform: uppercase;
        }
        span_2{
            word-spacing: normal;
        }

    }
}

// блок меню

// блок портфолио
.portfolio{
    &__body{

        width: 1457px;
        height: 1691px;
        background-color: #f3f3f3;
    }

    &__block{

        width: 538px;
        height: 365px;
        border: 1px solid #000;
        background-color: #eaeaea;
        position: relative;
        left: 51%;
        top: 1.8%;
        z-index: 2;

    }
    &__block_1{

        width: 538px;
        height: 365px;
        border: 1px solid #000;
        background-color: #eaeaea;
        position: relative;
        right: 0%;
        left: 12%;
        bottom: 19.8%;
        z-index: 2;

    }
    &__block_2{

        width: 538px;
        height: 365px;
        border: 1px solid #000;
        background-color: #eaeaea;
        position: relative;
        right: 0%;
        left: 12%;
        bottom: 18%;
        z-index: 2;

    }
    &__block_3{

        width: 538px;
        height: 365px;
        border: 1px solid #000;
        background-color: #eaeaea;
        position: relative;
        left: 51%;
        bottom: 39.5%;
        z-index: 2;

    }
    &__block_4{

        width: 538px;
        height: 365px;
        border: 1px solid #000;
        background-color: #eaeaea;
        position: relative;
        right: 0%;
        left: 12%;
        bottom: 37.8%;
        z-index: 2;

    }
    &__block_5{

        width: 538px;
        height: 365px;
        border: 1px solid #000;
        background-color: #eaeaea;
        position: relative;
        left: 51%;
        bottom: 59.35%;
        z-index: 2;


    }


    &__text_1{
            color: #000000;
            font-family: Lato;
            font-weight: 400px;
            font-size: 16px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.67px;
            position: relative;
            width: 182px;
            height: 47px;
            border: 1px solid #000;
            padding: 10px 40px;
            margin: -930px auto 100px ;


            }
}


.title_1{
    padding: 100px 0px 30px 0px ;
    font-family: Lato;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8.95px;
    position: relative;
    text-align: center;

    &::after{
        content: '';
        position: absolute;
        width: 80px;
        height: 1px;
        bottom: 0;
        left: 49%;
        background-color: #000;
        margin: 0px 0px 0px -25px;
    }
}
.menu_1{
    &__body{
        max-width: 422px;
        height: 100px;
        margin: 30px auto ;

    }
    &__column{
        max-width: 294px;
        height: 11px;
        margin: 50px auto ;
        color: #3c3c3c;
        font-family: Lato;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: normal;
        text-align: left;
        text-transform: uppercase;
        word-spacing: 30px;
        padding: 0px 20px ;

        span_1{
            color: #ada074;
            font-family: "Lato";
            font-weight: 700;
            font-size: 15px;
            font-weight: 400;
            text-align: left;
            text-transform: uppercase;
        }


    }
}

// блок партнёры
.partners{
    &__body{
        background: url("../img/patners/BG-Header_2.png") no-repeat;
        width: 1457px;
        height: 500px;
        margin: 0px auto 600px;
    }
    &__title{
        color: #ffffff;
        font-family: Lato;
        font-size: 30px;
        font-weight: 300;
        text-align: center;
        letter-spacing: 1.8px;
        padding: 100px 0px 90px 0px;
    }
    &__column_1{
        margin: -870px 0px 0px 400px;
    }
    &__column_2{
        margin: -51px 0px 0px 600px;
    }
    &__column_3{
        margin: -65px 0px 0px 800px;
    }
    &__column_4{
        margin: -55px 0px 0px 1000px;
    }

}
// блок партнёры

// блок контакты

.contact{
    &__body{
        margin: 220px auto;
        background-color: #f3f3f3;
        width: 1457px;
        height: 900px;
    }
    &__title{
        color: #000000;
        font-family: Lato;
        font-size: 34px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5.39px;
    }
    &__name{
        p{
            margin: 200px auto 10px 140px ;
            color: #000000;
            font-family: Lato;
            font-size: 14px;
            font-weight: 700;
            text-align: left;
            text-transform: uppercase;
            letter-spacing: 0.84px;

        }
        input{
            margin: 0px 0px 0px 140px;
            border-top: 1px solid #000;
            width: 160px;
            height: 40px;

         }

}

    &__email{
        p{
            margin: -63px auto 10px 430px ;
            color: #000000;
            font-family: Lato;
            font-size: 14px;
            font-weight: 700;
            text-align: left;
            text-transform: uppercase;
            letter-spacing: 0.84px;

        }
        input{
            margin: 0px 0px 0px 430px;
            border-top: 1px solid #000;
            width: 160px;
            height: 40px;

         }
    }
    &__message{
        p{
            margin: 123px auto 10px 140px ;
            color: #000000;
            font-family: Lato;
            font-size: 14px;
            font-weight: 700;
            text-align: left;
            text-transform: uppercase;
            letter-spacing: 0.84px;

        }
        textarea{
            margin: 0px 0px 0px 140px;
            border-top: 1px solid #000;
            width: 400px;
            height: 120px;
         }
    }
    &__text{
        margin: -330px 0px 0px 800px;
        color: #000000;
        font-family: Lato;
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
        text-align: left;
        }
        span{
            font-family: "Lato";
            font-weight: 700;
        }
        img{
            width: 35px;
            height: 35px;
            margin: 0px 13px 0px 0px ;
        }



}


.title_2{
    padding: 100px 0px 30px 0px ;
    font-family: Lato;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8.95px;
    position: relative;
    text-align: center;

    &::after{
        content: '';
        position: absolute;
        width: 80px;
        height: 1px;
        bottom: -5%;
        left: 48.7%;
        background-color: #000;
        margin: 0px 0px 0px -25px;
    }
}

// блок контакты

// блок подвал

.basement{
    &__body{
        position: relative;
        z-index: 2;
        margin: -300px auto;
        background-color: #3c3c3c;
        width: 1457px;
        height: 320px;
    }

    &__title{
        margin: 0px 0px 0px 660px ;
        padding: 50px 0px 0px 0px;
    }

    p{
        color: #6c6c6c;
        font-family: 'MyriadPro';
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }

}
.menu_2{
    &__body{
        max-width: 422px;
        height: 100px;
        margin: 0px auto ;

    }
    &__column{
        max-width: 394px;
        height: 11px;
        margin: 50px auto ;
        color: #a4a4a4;
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        text-transform: uppercase;
        word-spacing: 30px;
        padding: 0px 20px ;


    }
}

// блок подвал


















